@font-face {
  font-family: 'NanumSquareNeo-Variable';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'NanumSquareNeo-Variable';
  margin: 70px 0 130px 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f5f8fc;
}

a {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  transition: 0.4s;
}

a:hover {
  opacity: 0.7;
}

* {
  vertical-align: middle;
}

/* 컨테이너 */
.container {
  width: calc(90% - 40px);
  margin: 30px auto;
  background: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  line-height: 1.9;
}

.container h2 {
  font-size: 13px;
}

/* 홈 */
.category-group {
  width: 90%;
  margin: auto;
  display: flex;
  display: inline-block;
  vertical-align: top;
  min-width: 100%;
  overflow-x: scroll;
  white-space: nowrap;
  padding: 10px 0;
}

.category {
  display: inline-block;
  width: 100px;
  padding: 5px 15px;
  border-radius: 10px;
  margin: 0 0 0 20px;
  white-space: nowrap;
  background: #fff;
}

/* 맞춤 정책 */
.filter-container {
  display: flex;
  overflow-x: scroll;
  white-space: nowrap;
  padding: 10px;
}

.filter-option {
  padding: 5px 15px;
  margin-right: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 50px;
  border: 1px solid;
}

.filter-option.active {
  background-color: #555;
  color: #fff;
}

.policy-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.policy-item {
  margin: 10px 0;
  padding: 15px 20px 25px 20px;
  border-bottom: 1px solid #ccc;
  background-color: #fff;
}

.policy-item button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
}

.policy-item button:focus {
  outline: none;
}

.policy-item button:hover {
  color: #555;
}

.policy-agency {
  font-size: 13px;
}

.policy-description {
  font-size: 14px;
  white-space: nowrap;
  text-overflow: ellipsis;
  flex: 1;
  overflow: hidden;
  color: #777;
  margin: 6px 0;
}

.policy-date {
  display: inline;
  font-size: 12px;
  color: #777;
  background: #ffdada;
  color: #ff7373;
  padding: 5px 8px;
  border-radius: 50px;
}

.policy-title {
  font-size: 15px;
  margin: 3px 10px;
}

.bookmark-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  float: right;
  margin-top: 19px;
}

.bookmark-button:focus {
  outline: none;
}

.bookmark-button:hover {
  color: #555;
}

/* 헤더 */
header {
  background: #f5f8fc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 40px);
  padding: 23px 20px;
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  grid-area: header;
}

.title {
  text-align: left;
}

.util {
  display: flex;
  gap: 25px;
  margin-left: auto;
}

/* 상세페이지 */
.detail-title {
  font-size: 20px;
  font-weight: 800;
  margin-top: -10px;
}

.sub-title {
  color: #999;
  margin-right: 15px;
}

.tabs {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #fff;
  text-align: center;
  width: 100%;
  font-size: 11px;
  padding: 0;
}

.tabs button {
  flex: 1;
  background-color: transparent;
  border: none;
  padding: 20px 15px;
  border-bottom: 2px solid #999;
  text-align: center;
}

.tabs button.active {
  color: #6675fc;
  border-bottom: 2px solid #6675fc;
  font-weight: 800;
}

.tab-content {
  background: #fff;
  padding: 30px;
}

/* 정책소식 */
.policy-image img {
  width: 75px;
  height: 75px;
  border-radius: 10px;
  margin-right: 20px;
  float: left;
}

.latest-title {
  font-size: 18px;
  font-weight: 800;
  white-space: nowrap;
  text-overflow: ellipsis;
  flex: 1;
  overflow: hidden;
  margin: 6px 0;
}

.latest-date {
  font-size: 13px;
}

.count {
  margin-top: 20px;
}

/* 메뉴 */
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 11px;
}

.menu-item {
  text-decoration: none;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
}

.menu-icon {
  font-size: 24px;
}

.menu a {
  text-decoration: none;
  color: #fff;
  padding: 10px 15px;
  transition: 0.3s;
}

.menu a:hover {
  background-color: #555;
}
