@font-face {
  font-family: 'NanumSquareNeo-Variable';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'NanumSquareNeo-Variable';
  margin: 110px 0 0 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  transition: 0.4s;
}

a:hover {
  opacity: 0.7;
}

/* 헤더 */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 40px);
  padding: 23px 20px;
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  grid-area: header;
}

.title {
  text-align: left;
}

.util {
  display: flex;
  gap: 25px;
  margin-left: auto;
}

/* 메뉴 */
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 11px;
}

.menu-item {
  text-decoration: none;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
}

.menu-icon {
  font-size: 24px;
}

.menu a {
  text-decoration: none;
  color: #fff;
  padding: 10px 15px;
  transition: 0.3s;
}

.menu a:hover {
  background-color: #555;
}
