@font-face {
  font-family: 'NanumSquareNeo-Variable';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 70px 0 130px 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f5f8fc;
}

a {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  transition: 0.4s;
}

a:hover {
  opacity: 0.7;
}

* {
  font-family: 'NanumSquareNeo-Variable';
  vertical-align: middle;
}

input {
  padding: 14px;
  margin: 8px 0 20px 0;
  width: calc(100% - 28px);
  max-width: 330px;
  border: 2px solid rgba(0, 0, 0, .1);
  border-radius: 5px;
  box-shadow: inset -3px -3px 6px #fff, inset 2px 2px 5px #e6e6e6;
}

select {
  background: #fff;
  padding: 14px;
  margin: 8px 0 20px 0;
  width: 100%;
  max-width: 330px;
  border: 2px solid rgba(0, 0, 0, .1);
  border-radius: 5px;
  box-shadow: inset -3px -3px 6px #fff, inset 2px 2px 5px #e6e6e6;
}

textarea {
  resize: none;
  padding: 14px;
  margin: 8px 0 20px 0;
  height: 140px;
  width: calc(100% - 28px);
  max-width: 330px;
  border: 2px solid rgba(0, 0, 0, .1);
  border-radius: 5px;
  box-shadow: inset -3px -3px 6px #fff, inset 2px 2px 5px #e6e6e6;
}

button {
  display: inline;
  width: 100%;
  background: #dae0ff;
  border: none;
  border-radius: 50px;
  transition: 0.4s;
  cursor: pointer;
  margin-top: -13px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
}

button:hover {
  opacity: 0.7;
}

/* 컨테이너 */
.container {
  width: calc(90% - 40px);
  margin: 30px auto;
  background: #fff;
  padding: 15px 20px;
  border-radius: 10px;
  line-height: 1.9;
}

.container h2 {
  font-size: 13px;
}

.container h3 {
  text-align: center;
}

/* 홈 */
.category-group {
  width: 90%;
  margin: auto;
  display: flex;
  display: inline-block;
  vertical-align: top;
  min-width: 100%;
  overflow-x: scroll;
  white-space: nowrap;
  padding: 10px 0;
}

.category {
  display: inline-block;
  width: 100px;
  padding: 5px 15px;
  border-radius: 10px;
  margin: 0 0 0 20px;
  white-space: nowrap;
  background: #fff;
}

/* 맞춤 정책 */
.filter-container {
  display: flex;
  overflow-x: scroll;
  white-space: nowrap;
  padding: 10px;
}

.filter-option {
  padding: 5px 15px;
  margin-right: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 50px;
  border: 1px solid;
}

.filter-option.active {
  background-color: #555;
  color: #fff;
}

.policy-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.policy-item {
  margin: 10px 0;
  padding: 15px 20px 25px 20px;
  border-bottom: 1px solid #ccc;
  background-color: #fff;
}

.policy-item:last-child {
  border: none;
}

.policy-item button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
}

.policy-item button:focus {
  outline: none;
}

.policy-item button:hover {
  color: #555;
}

.policy-agency {
  font-size: 13px;
}

.policy-description {
  font-size: 14px;
  white-space: nowrap;
  text-overflow: ellipsis;
  flex: 1;
  overflow: hidden;
  color: #777;
  margin: 6px 0;
}

.policy-date {
  font-size: 12px;
  color: #777;
  background: #ffdada;
  color: #ff7373;
  padding: 5px 8px;
  border-radius: 50px;
  white-space: nowrap;
  text-overflow: ellipsis;
  flex: 1;
  overflow: hidden;
}

.policy-title {
  font-size: 15px;
  margin: 3px 0;
}

.bookmark-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  float: right;
  margin-top: 19px;
}

.bookmark-button:focus {
  outline: none;
}

.bookmark-button:hover {
  color: #555;
}

/* 헤더 */
header {
  background: #f5f8fc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 40px);
  padding: 23px 20px;
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  grid-area: header;
}

.title {
  text-align: left;
}

.util {
  display: flex;
  gap: 25px;
  margin-left: auto;
}

.search-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  overflow: hidden;
  transition: height 0.3s, opacity 0.3s;
  opacity: 0;
}

.search-modal.open {
  height: 100%;
  opacity: 1;
}

.close-search {
  position: absolute;
  top: 20px;
  right: 20px;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: transform 0.2s;
  font-size: 30px;
  color: #ff7373;
}

.close-search:hover {
  transform: scale(1.2);
}

.search-input {
  display: flex;
  align-items: center;
}

.search-input select {
  width: 100px;
  border-radius: 4px 0 0 4px;
  border: 1px solid #ccc;
  border-right: 0;
  background: #fff;
}

.search-input input[type="text"] {
  width: 180px;
  padding: 15px 30px 15px 10px;
  border: 1px solid #ccc;
  border-radius: 0 4px 4px 0;
}

.search-icon {
  position: absolute;
  margin-left: -225px;
  margin-top: -14px;
}

.search-input svg {
  color: #999;
}

.close-icon {
  position: absolute;
  margin-left: -25px;
  margin-top: -14px;
}

/* 후기 소식 */
.review-count {
  display: inline;
  font-size: 12px;
  color: #777;
  background: #dae0ff;
  color: #7394ff;
  padding: 5px 8px;
  margin-right: 10px;
  border-radius: 50px;
  float: right;
}

/* 상세페이지 */
.detail-title {
  font-size: 20px;
  font-weight: 800;
  margin-top: -10px;
}

.detail-button {
  background: transparent;
  border: 1px solid #6675fc;
  border-radius: 50px;
  width: calc(50% - 20px);
  margin: 10px 10px 0 10px;
  padding: 5px 0;
  color: #6675fc;
  font-weight: 800;
}

.sub-title {
  color: #999;
  margin-right: 15px;
}

.header {
  padding: 8px 10px;
}

.views {
  margin-bottom: 20px;
  color: #999;
}

.tab-item {
  margin: 10px 0;
}

.tab-content * {
  line-height: 1.7;
}

.tabs {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #fff;
  text-align: center;
  width: 100%;
  font-size: 11px;
  padding: 0;
}

.tabs button {
  flex: 1;
  background-color: transparent;
  border: none;
  padding: 20px 15px;
  border-bottom: 2px solid #999;
  text-align: center;
}

.tabs button.active {
  color: #6675fc;
  border-bottom: 2px solid #6675fc;
  font-weight: 800;
}

.tab-content {
  background: #fff;
  padding: 30px;
}

/* 정책소식 */
.policy-image img {
  width: 75px;
  height: 75px;
  border-radius: 10px;
  margin-right: 20px;
  float: left;
}

.latest-title {
  font-size: 18px;
  font-weight: 800;
  white-space: nowrap;
  text-overflow: ellipsis;
  flex: 1;
  overflow: hidden;
  margin: 6px 0;
}

.latest-date {
  font-size: 13px;
}

.count {
  margin-top: 20px;
}

.count span {
  margin-right: 15px;
}

.latest-btn {
  position: fixed;
  right: 30px;
  bottom: 120px;
  border-radius: 50px;
  width: 65px;
  height: 65px;
  font-size: 20px;
  background: #dae0ff;
  border: none;
  box-shadow: inset 3px 3px 6px #e5ece6, 2px 2px 4px #e5ece6;
}

/* 메뉴 */
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  color: #fff;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 11px;
}

.menu-item {
  text-decoration: none;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
}

.menu-icon {
  font-size: 24px;
}

.menu a {
  text-decoration: none;
  color: #fff;
  padding: 20px 15px;
  transition: 0.3s;
  width: 110px;
  height: 50px;
}

.menu a:hover,
.menu a.active {
  background-color: #555;
}

/* 마이페이지 */
.name {
  font-weight: 700;
}

.mycount {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 11px;
  background: #eee;
  padding: 20px 10px;
  margin: 10px 0;
  border-radius: 10px;
}

.mycount a {
  display: flex;
  align-items: center;
}

.mycount p.num {
  margin: 0;
  text-align: center;
  display: inline;
}

.mycount .num {
  text-align: center;
  display: flex;
  align-items: center;
  font-weight: 900;
}

.mycount span {
  cursor: pointer;
  padding: 0 25px;
}

.mycount .line {
  border-left: 1px solid #999;
  border-right: 1px solid #999;
}

.setting-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  float: right;
  margin-top: -10px;
}

.custom-button {
  background: #6675fc;
  border: 1px solid #6675fc;
  border-radius: 10px;
  width: 100%;
  max-width: 100%;
  margin-top: 10px;
  padding: 15px 10px;
}

.custom-button a {
  color: #fff;
}

.modify-btn {
  border-radius: 50px;
  width: 100%;
  background: #dae0ff;
  border: none;
  padding: 10px 0;
  margin-top: 30px;
  box-shadow: inset 3px 3px 6px #e5ece6, 2px 2px 4px #e5ece6;
}

.category-button {
  margin: 4px;
  width: 30%;
  height: 60px;
  display: inline;
  font-size: 12px;
  color: black;
  background: white;
  padding: 5px 8px;
  border: 1px solid #6675fc;
  border-radius: 10px;
  box-shadow: none;
}
.category-button:hover {
  opacity: 1;
}

.category-icon{
  margin-bottom: 6px;
}

/* 로그인 & 회원가입 */
.to-login {
  background: transparent;
  border: 1px solid #6675fc;
  border-radius: 10px;
  width: 100%;
  margin-top: 10px;
  padding: 15px 10px;
  color: #6675fc;
}

.to-signup {
  background: #6675fc;
  border: 1px solid #6675fc;
  border-radius: 10px;
  width: 100%;
  margin: 10px 0;
  padding: 15px 10px;
}

.to-signup a {
  color: #fff;
}

.login-btn {
  border-radius: 50px;
  width: 100%;
  background: #dae0ff;
  border: none;
  padding: 10px 0;
  margin-top: 10px;
  box-shadow: inset 3px 3px 6px #e5ece6, 2px 2px 4px #e5ece6;
}

.signup-btn {
  border-radius: 50px;
  width: 100%;
  background: #dae0ff;
  border: none;
  padding: 10px 0;
  margin: 30px 0;
  box-shadow: inset 3px 3px 6px #e5ece6, 2px 2px 4px #e5ece6;
}

.password-input {
  position: relative;
}

.password-icon {
  position: absolute;
  top: calc(50% + 10px);
  transform: translateY(-50%);
  right: 15px;
  cursor: pointer;
}
.gender{
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  text-align: center;
  display: inline-block;
}
.gender button{
  width: 47%;
  margin: 3px;
  background-color: white;
  border: 1px solid rgb(199, 199, 199);
  border-radius: 8px;
  height: 35px;
  line-height: 35px;
}

.birthday select:first-child{
  background-color: white;
  max-width: 90px;
}
.birthday select{
  background-color: white;
  max-width: 80px;
}

/* 설정 */
.section {
  margin-bottom: 40px;
}

.section svg {
  color: #999;
  float: right;
  padding-top: 8px;
}

.section .title {
  font-weight: 800;
}

.section .list {
  width: 100%;
  /* border-bottom: .2px solid #999 !important; */
  transition: 0.4s;
  padding: 3px;
}

.section p:hover {
  background: #eee;
}

.withdraw {
  text-align: right;
  color: #999;
  margin-bottom: 20px;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 20px;
  z-index: 999;
  border-radius: 10px;
  box-shadow: 0px 2px 4px 0px #eceae5;
  padding: 20px;
  width: 80%;
  max-width: 550px;
  text-align: center;
}

.modal * {
  text-align: center !important;
}

.copy {
  padding: 14px;
  margin: 8px 0 20px 0;
  width: calc(100% - 32px);
  max-width: 330px;
  border: 2px solid rgba(0, 0, 0, .1);
  border-radius: 5px;
  box-shadow: inset -3px -3px 6px #fff, inset 2px 2px 5px #e6e6e6;
}

.modal button {
  display: inline;
  margin-top: 14px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background: #A9EAFE;
  border: none;
  border-radius: 50px;
  transition: 0.4s;
  cursor: pointer;
  white-space: normal;
  overflow-wrap: break-word;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
}

.modal .close-button {
  background: transparent;
  width: 50px;
  height: 50px;
  box-shadow: none;
  margin-top: -10px;
  margin-right: calc(-80% - 25px);
  margin-bottom: -25px;
  color: #ff7373;
}

.blur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  z-index: 998;
}

.content {
  max-height: 60vh;
  overflow-y: auto;
  text-align: left;
}

.content * {
  text-align: left;
  line-height: 1.5;
}

.faq {
  background: transparent !important;
  box-shadow: none !important;
  height: 100%;
}

.fag p {
  max-width: 40%;
}

.faq svg {
  float: right;
  padding: 20px 10px;
}

.question {
  font-weight: 800 !important;
}

.answer {
  padding: 0 25px;
  font-size: 14px;
}

/* 페이징 */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.page-button {
  background-color: #dae0ff;
  color: #fff;
  border: none;
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.page-button.active {
  background-color: #889cff;
}

.page-button.disabled {
  background-color: #ccc;
  pointer-events: none;
}

.page-button:first-child, .page-button:last-child {
  margin: 0;
}

.page-button:hover {
  background-color: #889cff;
}
